<a href="https://colab.research.google.com/github/Afuu0503/ETL-Case-Study/blob/main/ETL_Case_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# books.toscrape.com Case Study ETL
## Python and beautifulsoup4 library

1. Data source: (https://books.toscrape.com/)
2. Data types: (thrillers and mystery books:  titles, prices, availability, product description, rating)
3. Checking the website regulations(robots.txt) ✔
4. Data Refresh Rate - Unfortunatelly in Google Colab it's not that easy to have data refreshed automatically. For this project it's not necessary to have data refreshed automatically

# Extracting data

In [1]:
!pip install requests beautifulsoup4 pandas

Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (2.32.4)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.12/dist-packages (4.13.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests) (2025.10.5)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4) (4.15.0)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def scrape_category(url, category_name):
    books = []
    page_url = url

    while True:
        response = requests.get(page_url)
        soup = BeautifulSoup(response.text, "html.parser")

        for book in soup.select("article.product_pod"):
            title = book.h3.a["title"]
            price = book.select_one("p.price_color").get_text(strip=True)
            availability = book.select_one("p.instock.availability").get_text(strip=True)
            rating = book.p["class"][1]

            detail_link = book.h3.a["href"].replace("../../../", "https://books.toscrape.com/catalogue/")

            detail_resp = requests.get(detail_link)
            detail_soup = BeautifulSoup(detail_resp.text, "html.parser")

            desc_header = detail_soup.find("div", id="product_description")
            if desc_header:
                product_description = desc_header.find_next_sibling("p").get_text(strip=True)
            else:
                product_description = "Brak opisu"

            books.append({
                "category": category_name,
                "title": title,
                "price": price,
                "availability": availability,
                "rating": rating,
                "description": product_description
            })

        next_page = soup.select_one("li.next > a")
        if next_page:
            page_url = url.rsplit("/", 1)[0] + "/" + next_page["href"]
        else:
            break

    return books

In [7]:
urls = {
    "Mystery": "https://books.toscrape.com/catalogue/category/books/mystery_3/index.html",
    "Thriller": "https://books.toscrape.com/catalogue/category/books/thriller_37/index.html"
}

all_books = []

for category, url in urls.items():
    print(f"Data load from: {category}")
    books = scrape_category(url, category)
    all_books.extend(books)

df = pd.DataFrame(all_books)
print(f"\n Loaded {len(df)} results.")
df.head()

Data load from: Mystery
Data load from: Thriller

 Loaded 43 results.

,category,title,price,availability,rating,description
0,Mystery,Sharp Objects,Â£47.82,In stock,Four,"WICKED above her hipbone, GIRL across her hear..."
1,Mystery,"In a Dark, Dark Wood",Â£19.63,In stock,One,"In a dark, dark wood Nora hasn't seen Clare fo..."
2,Mystery,The Past Never Ends,Â£56.50,In stock,Four,"A simple task, Attorney Chester Morgan thinks...."
3,Mystery,A Murder in Time,Â£16.64,In stock,One,"Beautiful and brilliant, Kendra Donovan is a r..."
4,Mystery,The Murder of Roger Ackroyd (Hercule Poirot #4),Â£44.10,In stock,Four,"In the village of King's Abbot, a widow's sudd..."

# Transforming the Data

In [8]:
df.shape[0]

43

In [9]:
df.shape[1]

6

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   category      43 non-null     object
 1   title         43 non-null     object
 2   price         43 non-null     object
 3   availability  43 non-null     object
 4   rating        43 non-null     object
 5   description   43 non-null     object
dtypes: object(6)
memory usage: 2.1+ KB

In [11]:
df.isnull().sum()

category        0
title           0
price           0
availability    0
rating          0
description     0
dtype: int64

In [12]:
df['price'] = df['price'].str.replace("Â£", '').astype(float)

In [13]:
df.head(43)

,category,title,price,availability,rating,description
0,Mystery,Sharp Objects,47.82,In stock,Four,"WICKED above her hipbone, GIRL across her hear..."
1,Mystery,"In a Dark, Dark Wood",19.63,In stock,One,"In a dark, dark wood Nora hasn't seen Clare fo..."
2,Mystery,The Past Never Ends,56.50,In stock,Four,"A simple task, Attorney Chester Morgan thinks...."
3,Mystery,A Murder in Time,16.64,In stock,One,"Beautiful and brilliant, Kendra Donovan is a r..."
4,Mystery,The Murder of Roger Ackroyd (Hercule Poirot #4),44.10,In stock,Four,"In the village of King's Abbot, a widow's sudd..."
5,Mystery,The Last Mile (Amos Decker #2),54.21,In stock,Two,In his #1 New York Times bestseller Memory Man...
6,Mystery,That Darkness (Gardiner and Renner #1),13.92,In stock,One,As a forensic investigator for the Cleveland P...
7,Mystery,Tastes Like Fear (DI Marnie Rome #3),10.69,In stock,One,Sarah Hilary won the 2015 Theakston's Crime No...
8,Mystery,A Time of Torment (Charlie Parker #14),48.35,In stock,Five,Jerome Burnel was once a hero. He intervened t...
9,Mystery,A Study in Scarlet (Sherlock Holmes #1),16.73,In stock,Two,In the debut of literature's most famous sleut...
10,Mystery,Poisonous (Max Revere Novels #3),26.80,In stock,Three,Teen-aged Internet bully Ivy Lake fell off a c...
11,Mystery,Murder at the 42nd Street Library (Raymond Amb...,54.36,In stock,Four,Murder at the 42nd Street Library opens with a...
12,Mystery,Most Wanted,35.28,In stock,Three,"Lisa Scottoline delivers another searing, powe..."
13,Mystery,Hide Away (Eve Duncan #20),11.84,In stock,One,Iris Johansen's beloved forensic sculptor Eve ...
14,Mystery,Boar Island (Anna Pigeon #19),59.48,In stock,Three,"Bringing you a gripping mystery, Nevada Barr t..."
15,Mystery,The Widow,27.26,In stock,Two,THE NEW YORK TIMESBESTSELLERFor fans of Gone G...
16,Mystery,Playing with Fire,13.71,In stock,Three,A beautiful violinist is haunted by a very old...
17,Mystery,What Happened on Beale Street (Secrets of the ...,25.37,In stock,Five,What Happened on Beale Street is an exciting a...
18,Mystery,The Bachelor Girl's Guide to Murder (Herringfo...,52.30,In stock,Five,"In 1910 Toronto, while other bachelor girls pe..."
19,Mystery,Delivering the Truth (Quaker Midwife Mystery #1),20.89,In stock,Four,Quaker midwife Rose Carroll hears secrets and ...
20,Mystery,The Mysterious Affair at Styles (Hercule Poiro...,24.80,In stock,Four,"Poirot, a Belgian refugee of the Great War, is..."
21,Mystery,In the Woods (Dublin Murder Squad #1),38.38,In stock,Two,A gorgeously written novel that marks the debu...
22,Mystery,The Silkworm (Cormoran Strike #2),23.05,In stock,Five,Private investigator Cormoran Strike returns i...
23,Mystery,The Exiled,43.45,In stock,Three,Can anyone ever truly outrun his past?Back in ...
24,Mystery,The Cuckoo's Calling (Cormoran Strike #1),19.21,In stock,One,A BRILLIANT DEBUT MYSTERY IN A CLASSIC VEIN: D...
25,Mystery,Extreme Prey (Lucas Davenport #26),25.40,In stock,Three,The extraordinary new Lucas Davenport thriller...
26,Mystery,Career of Evil (Cormoran Strike #3),24.72,In stock,Two,"Cormoran Strike is back, with his assistant Ro..."
27,Mystery,The No. 1 Ladies' Detective Agency (No. 1 Ladi...,57.70,In stock,Four,The No.1 ladies' detective agency consists of ...
28,Mystery,The Girl You Lost,12.29,In stock,Five,Eighteen years ago your baby daughter was snat...
29,Mystery,The Girl In The Ice (DCI Erika Foster #1),15.85,In stock,Three,Her eyes are wide open. Her lips parted as if ...
30,Mystery,Blood Defense (Samantha Brinkman #1),20.30,In stock,Three,First in a new series from bestselling author ...
31,Mystery,1st to Die (Women's Murder Club #1),53.98,In stock,One,"James Patterson, bestselling author of the Ale..."
32,Thriller,In Her Wake,12.84,In stock,One,A perfect life â¦ until she discovered it was...
33,Thriller,The Elephant Tree,23.82,In stock,Five,Mark Fallon is an overworked detective investi...
34,Thriller,Behind Closed Doors,52.22,In stock,Four,The 2016 debut bloggers can't stop raving abou...
35,Thriller,You (You #1),43.61,In stock,Five,"When a beautiful, aspiring writer strides into..."
36,Thriller,The Guilty (Will Robie #4),13.82,In stock,Two,Will Robie is the government's most profession...
37,Thriller,The 14th Colony (Cotton Malone #11),39.24,In stock,One,Shot down over Siberia in what was to be a sim...
38,Thriller,Give It Back,18.32,In stock,Two,"This novel follows three characters: Lorraine,..."
39,Thriller,Killing Floor (Jack Reacher #1),31.49,In stock,Four,Ex-military policeman Jack Reacher is a drifte...
40,Thriller,The Bone Hunters (Lexy Vaughan & Steven Macaul...,59.71,In stock,Three,The award-winning author of Valhalla brings ba...
41,Thriller,Far From True (Promise Falls Trilogy #2),34.93,In stock,Two,New York Times and #1 international bestsellin...
42,Thriller,The Travelers,15.77,In stock,One,A pulse-racing international thriller from the...

In [14]:
df['category'].value_counts()

category
Mystery     32
Thriller    11
Name: count, dtype: int64

In [15]:
df.describe()

           price
count  43.000000
mean   31.646047
std    16.089497
min    10.690000
25%    17.525000
50%    25.400000
75%    45.960000
max    59.710000

In [18]:
#Duplicates only on title results
any_duplicates = df.duplicated(subset=['title']).any()

In [19]:
any_duplicates

np.False_

In [20]:
df.isnull().sum()

category        0
title           0
price           0
availability    0
rating          0
description     0
dtype: int64

# Data Load

In [21]:
df.to_csv("books.csv", index=False, encoding="utf-8")

# Visualization

Report is available in Looker platform under this link:
https://lookerstudio.google.com/reporting/088d8ad8-cd5b-4b31-bfd2-03624ef6d29c